*{
    margin: 0;
    padding: 0;
    
}
.covid{
    background-color: #233a95;
    text-align: center;
    border-bottom: 15px;
   text-decoration: aliceblue;
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: aliceblue;
  

}

 .main_nav{
   display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    padding: auto;
    text-size-adjust: 1px;
 
   
} 

.main_4{
   display: flex;
   flex-wrap: wrap;
   justify-content:start;
 margin-top: 10px;
margin-inline-start: 40px; 
font-size: 13px;


   
 
}
.main_4>ul>a{
    color: black;
font-family: 'Allerta', sans-serif;
font-family: 'Roboto', sans-serif;
text-decoration: none;
    
}

.main_5{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
    margin-inline: 50px;
    border-top: 10px;
    justify-content:space-evenly;
    color: black;
    font-family: 'Allerta', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;


} 

.main_6>ul>a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    font-family: 'Allerta', sans-serif;
font-family: 'Roboto', sans-serif;
margin-top: 10px;
    margin-inline: 50px;
    border-top: 10px;

} 


.main_6{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
    margin-inline: 50px;
    border-top: 10px;
    justify-content:space-evenly;
    color: black;
    font-family: 'Allerta', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

}

.line{
    height: 1px;
    width: 100%;
    color: #7a7a7a;
    position: relative;
    top:50px;
}


.firstline{
    display: flex;
}

.currency{
    display: flex;
 position: absolute;
 top: 35px;
margin-inline-start: 300px; 
}

.languages{
    display: flex;
    position: absolute;
    top: 35px;
   margin-inline-start: 210px; 

}
.logo img{
    width: 164px;
    height: 43.8px;
}

.logo_text{
    display: block;
    font-size: .7250rem;
    opacity: .5;
    margin-top: 2px;
}

/* .categories_loop{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    background-color: aliceblue;
   
} */

















/* .logo{
    width: 164px;
    height: 44px;
}

.logo-with-text {
    text-align: justify;
    width: 164px;
} */

/* .logo-with-text img {
    display: block;
    margin: 0 auto;
}

.edit{
    margin: 0px;
    padding: 0px;
} */


