*{
    margin: 0;
    padding: 0;
    
}
.covid{
    background-color: #233a95;
    text-align: center;
    border-bottom: 15px;
   text-decoration: aliceblue;
   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: aliceblue;
  

}

 .main_nav{
   display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    padding: auto;
    text-size-adjust: 1px;
 
   
} 

.main_4{
   display: flex;
   flex-wrap: wrap;
   justify-content:start;
 margin-top: 10px;
margin-inline-start: 40px; 

   
 
}

.main_5{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 10px;
    margin-inline: 50px;
    border-top: 10px;
    justify-content:space-evenly;

} 

/* .main_6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}  */

/* .logo{
    width: 100px;
    height: 4px;
} */

.categories{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: yellowgreen;
    justify-content: center;
    display: flex;
}

















/* .logo{
    width: 164px;
    height: 44px;
}

.logo-with-text {
    text-align: justify;
    width: 164px;
} */

/* .logo-with-text img {
    display: block;
    margin: 0 auto;
}

.edit{
    margin: 0px;
    padding: 0px;
} */


